<!DOCTYPE html>
<html>
<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Machine Spec</title>
</head>
	<style>
		#myTable {
	    	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	    	border-collapse: collapse;
	    	width: 80%;
				margin-left: 120px;
		}

		#myTable td, #myTable th {
	    	border: 1px solid #ddd;
	    	padding: 8px;
		}

		#myTable tr:nth-child(even){background-color: #f2f2f2;}

		#myTable tr:hover {background-color: #ddd;}

		#myTable th {
	    	padding-top: 15px;
	    	padding-bottom: 12px;
	    	text-align:center;
	    	background-color: #4CAF50;
	    	color: white;
		}
		#myTable td {
	    	text-align:justify;
		}
		#myInput {
	    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
	    background-position: 10px 12px; /* Position the search icon */
	    background-repeat: no-repeat; /* Do not repeat the icon image */
	    width: 100%; /* Full-width */
	    font-size: 16px; /* Increase font-size */
	    padding: 12px 20px 12px 40px; /* Add some padding */
	    border: 1px solid #ddd; /* Add a grey border */
	    margin-bottom: 12px; /* Add some space below the input */
			margin-left: 150px;
	}


	body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4CAF50;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


	</style>
<body>
   
        
			<!-- <div class="ui grid"> -->
                <div class="sidenav">
                    <center>
                            <img src="company_logo.jpg" style="width: 200px">
                    </center>
                        <div class="list-group" style="padding-top: 4px;">
							<a href="/adminmenu" class="list-group-item list-group-item-action list-group-item-secondary">กลับสู่หน้าหลัก</a>
                            <a href="/historymachine" class="list-group-item list-group-item-action list-group-item-secondary">ประวัติเครื่องจักร</a>
                            <br>
						<center>
							<form method="get" action="/logout">
								<button type="submit" class="btn btn-danger">Logout</button>
							</form>
						</center>
						</div>
			</div>


        
            
		<div>
                <center style="padding:0px 0px 0px 120px"><h1>รายละเอียดเครื่องจักร</h1></center>
                <img src="./company_logo.jpg" style="width: 200px">
		
            <!-- <br><br><br> -->
            
            <div class="row" style="margin-left: 20%; margin-right: 10%;">
                    <div class="col-sm-6" style="background-color:lavender;">
                        <br>
                        <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="" >ชื่อเครื่องจักร</span>
                                </div>
                                    <input type="text" class="form-control"  value="<%= data[0]['machineName'] %>" name="machineName" disabled >
                            </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="" >ยี่ห้อ</span>
                            </div>
                                <input type="text" class="form-control" value="<%= data[0]['ยี่ห้อ'] %>" name="ยี่ห้อ" disabled>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Pole</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['pole'] %>" name="pole" disabled>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Power (HP/W)</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['power'] %>" name="power" disabled>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Current (Amp.)</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['current'] %>" name="current" disabled>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">IP.</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['ip'] %>" name="ip" disabled>
                        </div>
                            <div class="input-group">                                                    
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="">Frequency (Hz.)</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['frequency'] %>" name="frequency" disabled>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Mech.Seal No.</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['mechsealno'] %>" name="mechsealno" disabled>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Flow Rate (l/min)</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['flowrate'] %>" name="flowrate" disabled >
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">วันที่ติดตั้ง</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['วันที่ติดตั้ง'] %>" name="วันที่ติดตั้ง" disabled>
                        </div>
                    
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">อื่นๆ</span>
                            </div>
                            <input type="text" class="form-control"  value="<%= data[0]['ect'] %>" name="ect" disabled>
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-6" style="background-color:lavender;">
                        <br>
                        <div class="input-group" style="margin-right: 0%">
                            <div class="input-group-prepend" >
                                <span class="input-group-text" id="">Model</span>
                            </div>
                            <input type="text" class="form-control" style="margin-right: 0%" value="<%= data[0]['Model'] %>" name="Model" disabled>
                        </div>
                        <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">รหัสเครื่องจักร</span>
                                </div>
                                <input type="text" class="form-control" value="<%= data[0]['รหัสเครื่องจักร'] %>" name="รหัสเครื่องจักร" disabled>
                            </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Phase</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['phase'] %>" name="phase" disabled>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Voltage (V)</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['voltage'] %>" name="voltage" disabled>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">RPM.</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['rpm'] %>" name="rpm" disabled>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Power Factor (PF)</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['powerfactor'] %>" name="powerfactor" disabled>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">µF.</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['uf'] %>" name="uf" disabled>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Head (m)</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['head'] %>" name="head" disabled>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Oil Seal No.</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['oilsealno'] %>" name="oilsealno" disabled>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">รายการอะไหล่</span>
                            </div>
                            <input type="text" class="form-control" value="<%= data[0]['รายการอะไหล่'] %>" name="รายการอะไหล่" disabled>
                        </div>
                       
                        <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">สถานที่ตั้ง</span>
                                </div>
                                <input type="text" class="form-control"  value="<%= data[0]['สถานที่ตั้ง'] %>" name="สถานที่ตั้ง" disabled>
                            </div>
                   
                        <br><br><center><a class="btn btn-success btn-lg" href="/historymachine">กลับ</a>
                            <a href="/editaMachine/<%= data[0]['_id']%>" class="btn btn-success btn-lg">แก้ไข</a> </center>   <br>
                    </div>
            </div>
            <!--  -->
            
             
            <!--  -->

			<br><br><br>
			<center>



			<table id="myTable" style="margin-left: 15%">
		  <tr>
		  	<th>วันที่</th>
				<th>เวลา</th>
		    <th>Job No.</th>
				<th>ประเภท</th>
				<th>อาการ/สาเหตุ</th>
				<th>รายละเอียด</th>
				<th>ผู้ดำเนินการ</th>
				<th>ผู้บันทึก</th>
				<th>ผู้แจ้ง</th>
				<th>ฝ่าย</th>
				<th>แผนกดำเนินการ</th>
				<th>วันเริ่ม</th>
				<th>วันเสร็จ</th>
			</tr>
			<% for(var i=0;i<data[0].his.length;i++) {%>
			<tr>
                    <td><%= data[0]['his'][i]['วันที่แจ้งซ่อม'] %></td>
                    <td><%= data[0]['his'][i]['เวลาที่แจ้งซ่อม'] %></td>
					<td><%= data[0]['his'][i]['Jobno'] %></td>
                    <td><%= data[0]['his'][i]['การดำเนินงาน'] %></td>
                    <td><%= data[0]['his'][i]['อาการ'] %></td>	
					<td><%= data[0]['his'][i]['รายละเอียด'] %></td>
					<td>><%= data[0]['his'][i]['ผู้ดำเนินการ'] %></td>
					<td><%= data[0]['his'][i]['ผู้บันทึก'] %></td>
					<td><%= data[0]['his'][i]['ผู้แจ้ง'] %></td>
					<td><%= data[0]['his'][i]['ฝ่าย'] %></td>
					<td><%= data[0]['his'][i]['แผนก'] %></td>
					<td><%= data[0]['his'][i]['เริ่มดำเนินการซ่อมวันที่'] %></td>
					<td><%= data[0]['his'][i]['วันเสร็จ'] %></td>
					
					
			</tr>
			<% } %>
		</table>
		</center>
		<br>
		<br>
		<!-- </div> -->
</div>


</body>
	<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</html>
