<!DOCTYPE html>
<html>
    <head>
         
    </head>
    <body>
<div id="DivIdToPrint">
        <script>
            function printDiv() 
            {

            var divToPrint=document.getElementById('DivIdToPrint');

            var newWin=window.open('','Print-Window');

            newWin.document.open();

            newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');

            newWin.document.close();

            setTimeout(function(){newWin.close();},10);

            }
        </script>

        <style>
            p {
                margin: 0%;
                font: 17px sans-serif;
            }
            .break {
                word-break: break-all;
            }
            .grid-container {
              display: grid;
              grid-template-columns: auto auto auto auto;
              grid-gap: 10px;
              /*background-color: #2196F3;*/
              /*padding: 10px;*/
            }
            .grid-container > div {
              background-color: rgba(255, 255, 255, 0.8);
              /*border: 1px solid rgba(0, 0, 0, 0.8);*/
              text-align: center;
              /*padding: 20px 0;*/
              /*font-size: 5px;*/
            }
/*            .item1 {
              grid-column-start: 1;
              grid-column-end: 1.75;
            }
            .item2 {
              grid-column-start: 1.75;
              grid-column-end: 2.5;
            }*/
            .item3 {
              grid-column-start: 10Cm;
              grid-column-end: 21cm;
              font-size: 15px;
            }
            table, td, th {
                border: 1px solid black;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }
            
            td {
                padding: 5px;
            }
        </style>

    <div style="width: 21cm; border: 1px solid rgb(255, 255, 255);">
        <center><h3>ใบแจ้งซ่อม</h3></center>
        <div class="grid-container">
            <div class="item7">
                    <p align='left'>วันที่  <%= repairss['วันที่แจ้งซ่อม'] %></p>
                    <p align='left'>จาก แผนก <%= repairss['แผนก'] %> ฝ่าย <%= repairss['ฝ่าย'] %></p>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="item8">
            <div class="item8" style="border: 1px solid black;" >
                <center>
                    <label>สำหรับฝ่ายวิศวกรรม</label>
                    <br>
                    <label>job No.</label><label><%= repairss['นับประเภท'] %></label>
                </center>
            </div>
            </div>
        </div>
    </div>
    <br>
    <p>&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;</p>
    <div style="width: 21cm; border: 1px solid white;">
        <label>ชื่อเครื่องจักร&nbsp;&nbsp;&nbsp;</label>
        <label><%= repairss['ชื่อเครื่องจักร'] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <label>รหัสเครื่องจักร&nbsp;&nbsp;&nbsp;</label>
        <label><%= repairss['รหัสเครื่องจักร'] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <label>สถานที่ตั้ง&nbsp;&nbsp;&nbsp;</label>
        <label><%= repairss['สถานที่ตั้ง'] %></label>
        <br>
        <div class="grid-container">
            <div class="item8">
                <label>แจ้งเพื่อ</label>
            </div>
            <div class="item9">
                    <% if( repairss['แจ้งเพื่อ'] == 'ซ่อมแซม' ) { %>
                        <p align='left'>&#10003; ซ่อมแซม</p>
                        <p align='left'>&#9711; ปรับแก้</p>
                        <p align='left'>&#9711; ตรวจสอบ</p>
                        <p align='left'>&#9711; Emergency</p>
                    <% } %>
                    <% if( repairss['แจ้งเพื่อ'] == 'ปรับแก้' ) { %>
                        <p align='left'>&#9711; ซ่อมแซม</p>
                        <p align='left'>&#10003; ปรับแก้</p>
                        <p align='left'>&#9711; ตรวจสอบ</p>
                        <p align='left'>&#9711; Emergency</p>
                    <% } %>
                    <% if( repairss['แจ้งเพื่อ'] == 'ตรวจสอบ' ) { %>
                        <p align='left'>&#9711; ซ่อมแซม</p>
                        <p align='left'>&#9711; ปรับแก้</p>
                        <p align='left'>&#10003; ตรวจสอบ</p>
                        <p align='left'>&#9711; Emergency</p>
                    <% } %>
                    <% if( repairss['แจ้งเพื่อ'] == 'Emergency' ) { %>
                        <p align='left'>&#9711; ซ่อมแซม</p>
                        <p align='left'>&#9711; ปรับแก้</p>
                        <p align='left'>&#9711; ตรวจสอบ</p>
                        <p align='left'>&#10003; Emergency</p>
                    <% } %>
            </div>
            <div class="item10">
                <label class="break">อาการที่ปรากฎ<%= repairss['อาการที่ปรากฏ'] %></label>
            </div>
            <div class="item11">
                <table>
                    <thead>
                        <th>เครื่องจักรชำรุด</th>
                        <th>ระบุวันที่ต้องการเสร็จ</th>
                    </thead>
                    <tbody>
                        <td>
                            <label>วันที่ / เวลา</label>
                            <br>
                            <label><%= repairss['วันที่ชำรุด'] %> / <%= repairss['เวลาชำรุด'] %></label>
                        </td>
                        <td>
                            <label>วันที่ / เวลา</label>
                            <br>
                            <label><%= repairss['วันต้องการจะเสร็จ'] %> / <%= repairss['เวลาต้องการจะเสร็จ'] %></label>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
        <% if( repairss['สถานะเครื่องจักร'] == 'เครื่องจักรหยุดการทำงาน' ) { %>
            <div class="col-sm-10">
            <p align='left'> สถานะเครื่องจักร&nbsp;&nbsp;&nbsp;&nbsp; &#10003; เครื่องจักรหยุดการทำงาน &nbsp;&nbsp; &#9711; เครื่องจักรกำลังทำงานอยู่</p>
            </div>
        <% } %>
        <% if( repairss['สถานะเครื่องจักร'] == 'เครื่องจักรกำลังทำงานอยู่' ) { %>
            <div class="col-sm-10">
            <p align='left'>สถานะเครื่องจักร&nbsp;&nbsp;&nbsp;&nbsp;  &#9711; เครื่องจักรหยุดการทำงาน &nbsp;&nbsp; &#10003; เครื่องจักรกำลังทำงานอยู่</p>
            </div>
        <% } %>
        </div>
        <div>
            <label>ชื่อผู้ประสานงาน</label>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;<%= repairss['ชื่อผู้ประสานงาน'] %></label>
            <br>
            <label>ลงชื่อ</label>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;<%= repairss['ชื่อผู้แจ้งซ่อม'] %>&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label>ผู้แจ้งซ่อม</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>ลงชื่อ</label>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;<%= repairss['ชื่อหัวหน้าแผนก'] %>&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label>หนง./หนผ./ผจก.ฝ่าย (ตัวบรรจง)</label>
        </div>
    
    </div>
    <br>
    <p>&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;</p>
    
<form action="/Adminmenu" method="GET">
    <input type="hidden" id="savedate" name="อัพเดทล่าสุด">
    <input type="hidden" id="savetimes" name="เวลาอัพเดทสถานะ">
    <script>
        var date = new Date();
    document.getElementById("showtimes").innerText = "วันที่ "+ date.getDate() + "/" +
        (parseInt(date.getMonth())+1) + "/" +
        date.getFullYear() + " " + "เวลา "+ date.toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1")+ " น.";
    document.getElementById("savedate").value = date.getDate() + "/" +
        (parseInt(date.getMonth())+1) + "/" + date.getFullYear();
    document.getElementById("savetimes").value = date.toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1")+ " น.";            
    </script>
    <div style="width: 21cm; border: 1px solid white;">
            <div>                                                          <!-- 1 -->
                <b>สำหรับฝ่ายวิศวกรรม</b>
                <br><br>
                <label>ชื่อผู้ดำเนินการ...................................................</label>
                <label>ผู้มอบหมาย...................................................หนผ.</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <% if( repairss['การดำเนินงาน'] == 'ซ่อม' ) { %>
                    <label>&#9711;สร้างฯ &nbsp;&nbsp; &#10003; ซ่อม</label>
                <% } %>
                <% if( repairss['การดำเนินงาน'] == 'สร้าง' ) { %>
                    <label>&#10003;สร้างฯ &nbsp;&nbsp; &#9711; ซ่อม</label>
                <% } %>
            </div>
            <br>
            <b>การเปิดงานซ่อม</b>
            <br><br>
            <div>                                                         <!-- การเปิดงานซ่อม -->
                <div class="grid-container">
                    <div class="item1">
                        <center>
                            <label>ผู้สั่งงาน / ผู้อนุมัติเปิดงาน</label>
                            <br><br>
                            <label>........................................</label>
                            <br>
                            <label>หนง. / หนผ.</label>
                        </center>
                    </div>
                    <div class="item2">
                        <center>
                            <label>ฝ่ายผู้ใช้เครื่องจักรอนุญาต</label>
                            <br><br>
                            <label>..........................................</label>
                            <br>
                            <label>หนง. / หนผ. /</label>
                            <br><br>
                            <label>ผจก.ฝ่าย.....................</label>
                        </center>
                    </div>
                    <div class="item3">
                            <table>
                                    <thead>
                                    <tr>
                                        <th rowspan="2">วันที่อนุมัติเปิดงาน(ผู้สั่งงาน)</th>
                                        <th colspan="3">วันที่อนุญาตให้ซ่อมเครื่อง    (ผู้ใช้เครื่อง)</th>
                                    </tr>
                                    <tr>
                                        <th>
                                        &#9711;
                                        <label>อนุญาต</label></th>
                                        <th>&#9711;
                                        <label>เลื่อนไปลงชื่อ..................</label></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>วันที่....................</td>
                                        <td>วันที่....................</td>
                                        <td>วันที่....................</td>
                                    </tr>
                                    <tr>
                                        <td>เวลา....................</td>
                                        <td>เวลา....................</td>
                                        <td>เวลา....................</td>
                                    </tr>
                                    </tbody>
                            </table>
                    </div>
                </div>
            </div>
            <br>
            <div class="grid-container">
                <div class="item4">
                    &#9711;
                    <label>ผลกระทบต่อฝ่ายต่างๆ............................................................<br>....................................................................................................</label>
                </div>
                <div class="item5">
                    &#9711;
                    <label>Work Permit............................................................<br>......................................................................................</label>
                </div>
            </div>
            <div class="grid-container">
                <div class="item6">
                    <label>วันที่รับเอกสาร&nbsp;<%= repairss['วันที่รับเอกสาร'] %></label>
                </div>
                <div class="item7">
                    <label>เวลา&nbsp;<%= repairss['เวลาที่รับเอกสาร'] %></label>
                </div>
                <div class="item8">
                    <label>ประเมินเวลาที่ใช้ในการซ่อม......................M/D</label>
                </div>
                <div class="item9">
                    <label>จำนวนเวลาที่ใช้...............ชม.</label>
                </div>
            </div>
            <div class="grid-container">
                <div class="item6">
                    <label>วันที่ประเมินวัสดุ..................</label>
                </div>
                <div class="item7">
                    <label>วันที่สั่งซื้อวัสดุ.................</label>
                </div>
                <div class="item8">
                    <label>วันที่วัสดุครบพร้อมเริ่มงาน....................</label>
                </div>
                <div class="item9">
                    <label>กำหนดเสร็จ...............ชม.</label>
                </div>
            </div>
            <div>
                <label>การตรวจซ่อมเครื่องจักร</label>
                &#9711;
                <label>ซ่อมภายในบริษัท</label>
                &#9711;
                <label>ส่งซ่อมภายนอกบริษัท</label>
            </div>
            <div>
                <label>วิเคราะห์สาเหตุ...........................................................................................................................................................................<br>...................................................................................................................................................................................................</label>
            </div>
            <div>
                <label>รายละเอียดการซ่อม...................................................................................................................................................................<br>...................................................................................................................................................................................................<br>...................................................................................................................................................................................................<br>...................................................................................................................................................................................................</label>
            </div>
            <div>
                <label>อะไหล่/วัสดุอุปกรณ์ที่ต้องใช้.....................................................................................................................................................<br>...................................................................................................................................................................................................</label>
            </div>
            <div>
                <label>ผู้ปฏิบัติงานซ่อม</label>
                <label>1)....................................................</label>
                <label>2)....................................................</label>
                <label>3)....................................................</label>
            </div>
            <div>
                <label>เริ่มดำเนินการซ่อมวันที่............................</label>
                <label>เวลา.................</label>
                <label>ซ่อมเสร็จวันที่.....................</label>
                <label>เวลา....................</label>
                <label>รวม.................ชม.</label>
            </div>
    </div>

<br>
<p>&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;&#9552;</p>
<div style="width: 21cm; border: 1px solid white;">
    <b>การส่งมอบงาน</b>
    <br><br>
    <label>ข้อคิดเห็นเพิ่มเติม......................................................................................................................................................................</label>
    <br>
    <div>       
        <div class="grid-container">
            <div class="item4">
                <center>
                    <label>ผู้สั่งมอบงาน</label>
                    <br><br>
                    <label>........................................</label>
                    <br>
                    <label>ผู้ปฏิบัติงาน / หนง.</label>
                    <br><br>
                    <label>วันที่..................</label>
                    <label>เวลา...........</label>
                </center>
            </div>
            <div class="item5">
                <center>
                    <label>ผู้รับมอบงาน</label>
                    <br><br>
                    <label>..........................................</label>
                    <br>
                    <label>หนง. / หนผ. /</label>
                    <br><br>
                    <label>ผจก.ฝ่าย.....................</label>
                    <br><br>
                    <label>วันที่..................</label>
                    <label>เวลา...........</label>
                </center>
            </div>
            <div class="item6">
                <center>
                    <label>ผู้อนุมัติปิดงาน</label>
                    <br><br>
                    <label>..........................................</label>
                    <br>
                    <label>หนง. / หนผ. /</label>
                    <br><br>
                    <label>วันที่..................</label>
                    <label>เวลา...........</label>
                </center>
            </div>
        </div>
    </div>
</div>
</div>

            <br>
            <center>
            <button onclick="printDiv();">Print this page</button>
            <br><br><br>
        </form>
            
            </center>
    </body>
</html>